.datepicker-container.pwt-hide {
        left: 658.25px;
    top: 238px;
    display: none;
}

}
.datepicker-container {
    display: block;
    position: absolute;
    z-index: 100000;
    top: 0;
    direction: ltr;
}
/*************************************************************/

/*(persian-datepicker.min.css)*/
.datepicker-container {
    display: block;
    position: absolute;
    z-index: 100000;
    top: 0;
    direction: ltr;
    left: 658.25px;
    top: 238px;
}

/*(main.css)*/
.datepicker-container {
    display: block;
    position: absolute;
    z-index: 100000;
    top: 0;
    direction: ltr;
}

/**********************************************************************/
.datepicker-plot-area {
    border-radius: 5px;
    padding: 0;
    width: 320px;
}
.datepicker-plot-area {
    box-sizing: border-box;
    overflow: hidden;
    min-height: 70px;
    display: block;
    width: 200px;
    min-width: 200px;
    padding: 3px;
    position: absolute;
    font: 12px tahoma;
    border: 1px solid #ccc;
    background-color: #fff;
}
.datepicker-plot-area {
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.datepicker-plot-area, .datepicker-plot-area .datepicker-time-view>.time-segment {
    border-radius: 0;
}
.datepicker-plot-area {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
@media (max-width: 767px)
.datepicker-plot-area, .datepickermodal {
    width: 100%!important;
}
.datepicker-plot-area {
    display: block;
    width: 300px!important;
    min-width: 240px!important;
    border: none!important;
    background-color: #3787fe!important;
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 3px;
    line-height: 27px;
    box-shadow: 0 6px 8px 0 hsla(0,0%,64.3%,.21);
}
.datepicker-plot-area {
    box-sizing: border-box;
    overflow: hidden;
    min-height: 70px;
    width: 200px;
    min-width: 200px;
    padding: 3px;
    position: absolute;
    font: 12px tahoma;
    border: 1px solid #ccc;
    background-color: #fff;
}
.datepicker-plot-area {
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.datepicker-plot-area, .datepicker-plot-area .datepicker-day-view .table-days td span, .datepicker-plot-area .datepicker-month-view .month-item, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch, .datepicker-plot-area .datepicker-time-view>.time-segment, .datepicker-plot-area .datepicker-year-view .year-item {
    border-radius: 0;
}
.datepicker-plot-area {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

/*//***************************************************************************************/

.datepicker-plot-area .datepicker-navigator {
    height: 50px;
    line-height: 50px;
    color: #01216c;
    background-color: #0f2d63;
}
.datepicker-plot-area .datepicker-navigator {
    display: block;
    width: 100%;
    float: left;
}
.datepicker-plot-area .datepicker-navigator {
    display: block;
    width: 100%;
    float: left;
}
.datepicker-plot-area .datepicker-navigator {
    display: block;
    width: 100%;
    float: left;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
.datepicker-plot-area *, .datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    color: #fff!important;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}

/*//**********************************************************************/

}
.datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    font-size: 15px;
    background: 0 0;
    color: #01216c;
    height: 50px;
    line-height: 50px;
}
.datepicker-plot-area .datepicker-navigator .pwt-btn-next {
    display: block;
    width: 15%;
    float: left;
}
.datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev {
    display: block;
    float: left;
    height: 28px;
    line-height: 28px;
    font-weight: bold;
    background-color: rgba(250,250,250,0.1);
    color: #333;
}
.datepicker-plot-area .datepicker-navigator .pwt-btn-next {
    display: block;
    width: 15%;
    float: left;
}
.datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev {
    display: block;
    float: left;
    height: 28px;
    line-height: 28px;
    font-weight: bold;
    background-color: rgba(250,250,250,0.1);
    color: #333;
}
.datepicker-plot-area .datepicker-day-view .table-days td span, .datepicker-plot-area .datepicker-year-view .year-item, .datepicker-plot-area .datepicker-month-view .month-item, .datepicker-plot-area .datepicker-day-view .table-days td.disabled span, .datepicker-plot-area .datepicker-year-view .year-item-disable, .datepicker-plot-area .datepicker-month-view .month-item-disable, .datepicker-plot-area .datepicker-time-view>.time-segment, .datepicker-plot-area .datepicker-time-view .down-btn, .datepicker-plot-area .datepicker-time-view .up-btn, .datepicker-plot-area .datepicker-time-view input, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .toolbox .pwt-btn-submit, .datepicker-plot-area .toolbox .pwt-btn-calendar, .datepicker-plot-area .toolbox .pwt-btn-today {
    cursor: pointer;
}
.datepicker-plot-area .datepicker-day-view .table-days td span, .datepicker-plot-area .datepicker-year-view .year-item, .datepicker-plot-area .datepicker-month-view .month-item, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev {
    border-radius: 0;
}
.datepicker-plot-area *, .datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    color: #fff!important;
}
.datepicker-plot-area .datepicker-navigator .pwt-btn-next {
    display: block;
    width: 15%;
    float: left;
}
.datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    display: block;
    float: left;
    height: 28px;
    line-height: 28px;
    font-weight: 700;
    background-color: hsla(0,0%,98%,.1);
    color: #333;
}
.datepicker-plot-area .datepicker-day-view .table-days td.disabled span, .datepicker-plot-area .datepicker-day-view .table-days td span, .datepicker-plot-area .datepicker-month-view .month-item, .datepicker-plot-area .datepicker-month-view .month-item-disable, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch, .datepicker-plot-area .datepicker-time-view .down-btn, .datepicker-plot-area .datepicker-time-view .up-btn, .datepicker-plot-area .datepicker-time-view>.time-segment, .datepicker-plot-area .datepicker-time-view input, .datepicker-plot-area .datepicker-year-view .year-item, .datepicker-plot-area .datepicker-year-view .year-item-disable, .datepicker-plot-area .toolbox .pwt-btn-calendar, .datepicker-plot-area .toolbox .pwt-btn-submit, .datepicker-plot-area .toolbox .pwt-btn-today {
    cursor: pointer;
}
.datepicker-plot-area, .datepicker-plot-area .datepicker-day-view .table-days td span, .datepicker-plot-area .datepicker-month-view .month-item, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch, .datepicker-plot-area .datepicker-time-view>.time-segment, .datepicker-plot-area .datepicker-year-view .year-item {
    border-radius: 0;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}

/*//*******************************************************************************/

}
.datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    font-size: 15px;
    background: 0 0;
    color: #01216c;
    height: 50px;
    line-height: 50px;
}
.datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    display: block;
    width: 66%;
    margin: 0 2%;
    float: left;
}
.datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev {
    display: block;
    float: left;
    height: 28px;
    line-height: 28px;
    font-weight: bold;
    background-color: rgba(250,250,250,0.1);
    color: #333;
}
.datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    display: block;
    width: 66%;
    margin: 0 2%;
    float: left;
}
.datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev {
    display: block;
    float: left;
    height: 28px;
    line-height: 28px;
    font-weight: bold;
    background-color: rgba(250,250,250,0.1);
    color: #333;
}
.datepicker-plot-area .datepicker-day-view .table-days td span, .datepicker-plot-area .datepicker-year-view .year-item, .datepicker-plot-area .datepicker-month-view .month-item, .datepicker-plot-area .datepicker-day-view .table-days td.disabled span, .datepicker-plot-area .datepicker-year-view .year-item-disable, .datepicker-plot-area .datepicker-month-view .month-item-disable, .datepicker-plot-area .datepicker-time-view>.time-segment, .datepicker-plot-area .datepicker-time-view .down-btn, .datepicker-plot-area .datepicker-time-view .up-btn, .datepicker-plot-area .datepicker-time-view input, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .toolbox .pwt-btn-submit, .datepicker-plot-area .toolbox .pwt-btn-calendar, .datepicker-plot-area .toolbox .pwt-btn-today {
    cursor: pointer;
}
.datepicker-plot-area .datepicker-day-view .table-days td span, .datepicker-plot-area .datepicker-year-view .year-item, .datepicker-plot-area .datepicker-month-view .month-item, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev {
    border-radius: 0;
}
.datepicker-plot-area *, .datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    color: #fff!important;
}
.datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    display: block;
    width: 66%;
    margin: 0 2%;
    float: left;
}
.datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    display: block;
    float: left;
    height: 28px;
    line-height: 28px;
    font-weight: 700;
    background-color: hsla(0,0%,98%,.1);
    color: #333;
}
.datepicker-plot-area .datepicker-day-view .table-days td.disabled span, .datepicker-plot-area .datepicker-day-view .table-days td span, .datepicker-plot-area .datepicker-month-view .month-item, .datepicker-plot-area .datepicker-month-view .month-item-disable, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch, .datepicker-plot-area .datepicker-time-view .down-btn, .datepicker-plot-area .datepicker-time-view .up-btn, .datepicker-plot-area .datepicker-time-view>.time-segment, .datepicker-plot-area .datepicker-time-view input, .datepicker-plot-area .datepicker-year-view .year-item, .datepicker-plot-area .datepicker-year-view .year-item-disable, .datepicker-plot-area .toolbox .pwt-btn-calendar, .datepicker-plot-area .toolbox .pwt-btn-submit, .datepicker-plot-area .toolbox .pwt-btn-today {
    cursor: pointer;
}
.datepicker-plot-area, .datepicker-plot-area .datepicker-day-view .table-days td span, .datepicker-plot-area .datepicker-month-view .month-item, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch, .datepicker-plot-area .datepicker-time-view>.time-segment, .datepicker-plot-area .datepicker-year-view .year-item {
    border-radius: 0;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
/*//*************************************************************************************/
.datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    font-size: 15px;
    background: 0 0;
    color: #01216c;
    height: 50px;
    line-height: 50px;
}
.datepicker-plot-area .datepicker-navigator .pwt-btn-prev {
    display: block;
    width: 15%;
    float: left;
}
.datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev {
    display: block;
    float: left;
    height: 28px;
    line-height: 28px;
    font-weight: bold;
    background-color: rgba(250,250,250,0.1);
    color: #333;
}
.datepicker-plot-area .datepicker-navigator .pwt-btn-prev {
    display: block;
    width: 15%;
    float: left;
}
.datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev {
    display: block;
    float: left;
    height: 28px;
    line-height: 28px;
    font-weight: bold;
    background-color: rgba(250,250,250,0.1);
    color: #333;
}
.datepicker-plot-area .datepicker-day-view .table-days td span, .datepicker-plot-area .datepicker-year-view .year-item, .datepicker-plot-area .datepicker-month-view .month-item, .datepicker-plot-area .datepicker-day-view .table-days td.disabled span, .datepicker-plot-area .datepicker-year-view .year-item-disable, .datepicker-plot-area .datepicker-month-view .month-item-disable, .datepicker-plot-area .datepicker-time-view>.time-segment, .datepicker-plot-area .datepicker-time-view .down-btn, .datepicker-plot-area .datepicker-time-view .up-btn, .datepicker-plot-area .datepicker-time-view input, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .toolbox .pwt-btn-submit, .datepicker-plot-area .toolbox .pwt-btn-calendar, .datepicker-plot-area .toolbox .pwt-btn-today {
    cursor: pointer;
}
.datepicker-plot-area .datepicker-day-view .table-days td span, .datepicker-plot-area .datepicker-year-view .year-item, .datepicker-plot-area .datepicker-month-view .month-item, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev {
    border-radius: 0;
}
.datepicker-plot-area *, .datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    color: #fff!important;
}
.datepicker-plot-area .datepicker-navigator .pwt-btn-prev {
    display: block;
    width: 15%;
    float: left;
}
.datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    display: block;
    float: left;
    height: 28px;
    line-height: 28px;
    font-weight: 700;
    background-color: hsla(0,0%,98%,.1);
    color: #333;
}
.datepicker-plot-area .datepicker-day-view .table-days td.disabled span, .datepicker-plot-area .datepicker-day-view .table-days td span, .datepicker-plot-area .datepicker-month-view .month-item, .datepicker-plot-area .datepicker-month-view .month-item-disable, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch, .datepicker-plot-area .datepicker-time-view .down-btn, .datepicker-plot-area .datepicker-time-view .up-btn, .datepicker-plot-area .datepicker-time-view>.time-segment, .datepicker-plot-area .datepicker-time-view input, .datepicker-plot-area .datepicker-year-view .year-item, .datepicker-plot-area .datepicker-year-view .year-item-disable, .datepicker-plot-area .toolbox .pwt-btn-calendar, .datepicker-plot-area .toolbox .pwt-btn-submit, .datepicker-plot-area .toolbox .pwt-btn-today {
    cursor: pointer;
}
.datepicker-plot-area, .datepicker-plot-area .datepicker-day-view .table-days td span, .datepicker-plot-area .datepicker-month-view .month-item, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch, .datepicker-plot-area .datepicker-time-view>.time-segment, .datepicker-plot-area .datepicker-year-view .year-item {
    border-radius: 0;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
/*//******************************************************************/
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
.datepicker-plot-area *, .datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    color: #fff!important;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
/*//***********************************************************************/

.datepicker-plot-area .datepicker-day-view, .datepicker-plot-area .datepicker-month-view, .datepicker-plot-area .datepicker-year-view {
    display: block;
    width: 100%;
    float: left;
    min-height: 200px;
    margin: 0;
}
.datepicker-plot-area .datepicker-day-view, .datepicker-plot-area .datepicker-month-view, .datepicker-plot-area .datepicker-year-view {
    display: block;
    width: 100%;
    float: left;
    min-height: 200px;
    margin: 0;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
.datepicker-plot-area *, .datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    color: #fff!important;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
/*//**************************************************************************/

.datepicker-plot-area .datepicker-day-view .month-grid-box {
    display: block;
    width: 100%;
    float: none;
    min-height: 180px;
    margin: 8px auto;
    width: 200px;
    font-size: 15px;
}
.datepicker-plot-area .datepicker-day-view .month-grid-box {
    display: block;
    width: 100%;
    float: right;
    min-height: 180px;
    margin: 8px 0;
}
.datepicker-plot-area .datepicker-day-view .month-grid-box {
    display: block;
    width: 100%;
    float: right;
    min-height: 180px;
    margin: 8px 0;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
.datepicker-plot-area *, .datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    color: #fff!important;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}

/*//***************************************************************************/
.datepicker-plot-area .datepicker-day-view .month-grid-box .header {
    display: block;
    width: 100%;
    float: left;
    padding-bottom: 8px;
}
.datepicker-plot-area .datepicker-day-view .month-grid-box .header {
    display: block;
    width: 100%;
    float: left;
    padding-bottom: 8px;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
.datepicker-plot-area *, .datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    color: #fff!important;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
.header {
    margin: 0 0 15px;
    width: 100%;
}

/*//****************************************************************************/
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
.datepicker-plot-area *, .datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    color: #fff!important;
}

.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
.title {
    font-size: 16px;
    font-weight: 700;
}
.title, .title a, .card-title, .card-title a, .info-title, .info-title a, .footer-brand, .footer-brand a, .footer-big h5, .footer-big h5 a, .footer-big h4, .footer-big h4 a, .media .media-heading, .media .media-heading a {
    color: #3C4858;
    text-decoration: none;
}

/*//*************************************************************************/

.datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row {
    display: block;
    width: 100%;
    height: 25px;
    float: left;
}
.datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row {
    display: block;
    width: 100%;
    height: 25px;
    float: left;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
.datepicker-plot-area *, .datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    color: #fff!important;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
/*//**************************************************************************/

.datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell {
    display: block;
    width: 14.2%;
    height: 25px;
    float: right;
    line-height: 25px;
    font: 11px;
    font-weight: bold;
    color: #333;
}
.datepicker-plot-area *, .datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    color: #fff!important;
}
.datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell {
    display: block;
    width: 14.2%;
    height: 25px;
    float: right;
    line-height: 25px;
    font: 11px;
    font-weight: 700;
    color: #333;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
/*//******************************************************************************/
.datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell {
    display: block;
    width: 14.2%;
    height: 25px;
    float: right;
    line-height: 25px;
    font: 11px;
    font-weight: bold;
    color: #333;
}
.datepicker-plot-area *, .datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    color: #fff!important;
}
.datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell {
    display: block;
    width: 14.2%;
    height: 25px;
    float: right;
    line-height: 25px;
    font: 11px;
    font-weight: 700;
    color: #333;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}

/*//******************************************8*/

.datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell {
    display: block;
    width: 14.2%;
    height: 25px;
    float: right;
    line-height: 25px;
    font: 11px;
    font-weight: bold;
    color: #333;
}
.datepicker-plot-area *, .datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    color: #fff!important;
}
.datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell {
    display: block;
    width: 14.2%;
    height: 25px;
    float: right;
    line-height: 25px;
    font: 11px;
    font-weight: 700;
    color: #333;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
/*//********************************************************8*/


.datepicker-plot-area .datepicker-day-view .table-days {
    width: 100%;
    float: left;
    direction: rtl;
}
.datepicker-plot-area .datepicker-day-view .table-days {
    width: 100%;
    float: left;
    direction: rtl;
}
.datepicker-plot-area table, .datepicker-plot-area th, .datepicker-plot-area td {
    border: 0;
    background: none;
}
.datepicker-plot-area table, .datepicker-plot-area td, .datepicker-plot-area th {
    border: 0;
    background: none;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
.datepicker-plot-area *, .datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    color: #fff!important;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
table, td, th {
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table, td, th {
    border: none;
    text-align: right;
}
/*//********************************************************************/
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
.datepicker-plot-area *, .datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    color: #fff!important;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
/*//**********************************************************************/
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
.datepicker-plot-area *, .datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    color: #fff!important;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
/*//********************************************************************/
.datepicker-plot-area .datepicker-day-view .table-days td {
    width: 14.2%;
    height: 26px;
    padding: 0;
    margin: 0;
    position: relative;
}
.datepicker-plot-area .datepicker-day-view .table-days td {
    height: 30px!important;
}
.datepicker-plot-area .datepicker-day-view .table-days td {
    width: 14.2%;
    height: 26px;
    padding: 0;
    margin: 0;
    position: relative;
}
.datepicker-plot-area table, .datepicker-plot-area th, .datepicker-plot-area td {
    border: 0;
    background: none;
}
.datepicker-plot-area table, .datepicker-plot-area td, .datepicker-plot-area th {
    border: 0;
    background: none;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
.datepicker-plot-area *, .datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    color: #fff!important;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
table, td, th {
    text-align: center;
}
table, td, th {
    border: none;
    text-align: right;
}
body, input, select, td {
    color: #000;
}
td {
    border-bottom: 1px solid #f6f6f6;
    padding: 5px 10px;
}
/*//**********************************************************************/
.datepicker-plot-area .datepicker-day-view .table-days td span.other-month {
    background-color: "";
    color: #ccc;
    border: none;
    text-shadow: none;
}
.datepicker-plot-area .datepicker-day-view .table-days td span.other-month {
    color: #ccc!important;
}
.datepicker-plot-area .datepicker-day-view .table-days td span.other-month {
    background-color: "";
    color: #ccc;
    border: none;
    text-shadow: none;
}
.datepicker-plot-area .datepicker-day-view .table-days td span {
    display: block;
    width: 100%;
    height: 26px;
    line-height: 26px;
    padding: 0;
    margin: 0;
}
.datepicker-plot-area .datepicker-day-view .table-days td span, .datepicker-plot-area .datepicker-year-view .year-item, .datepicker-plot-area .datepicker-month-view .month-item {
    font: 14px;
    background-color: #fff;
    color: #333;
    border: 0;
    text-shadow: none;
}
.datepicker-plot-area .datepicker-day-view .table-days td span, .datepicker-plot-area .datepicker-year-view .year-item, .datepicker-plot-area .datepicker-month-view .month-item, .datepicker-plot-area .datepicker-day-view .table-days td.disabled span, .datepicker-plot-area .datepicker-year-view .year-item-disable, .datepicker-plot-area .datepicker-month-view .month-item-disable, .datepicker-plot-area .datepicker-time-view>.time-segment, .datepicker-plot-area .datepicker-time-view .down-btn, .datepicker-plot-area .datepicker-time-view .up-btn, .datepicker-plot-area .datepicker-time-view input, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .toolbox .pwt-btn-submit, .datepicker-plot-area .toolbox .pwt-btn-calendar, .datepicker-plot-area .toolbox .pwt-btn-today {
    cursor: pointer;
}
.datepicker-plot-area .datepicker-day-view .table-days td span, .datepicker-plot-area .datepicker-year-view .year-item, .datepicker-plot-area .datepicker-month-view .month-item, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev {
    border-radius: 0;
}
.datepicker-plot-area .datepicker-day-view .table-days td span, .datepicker-plot-area .datepicker-month-view .month-item, .datepicker-plot-area .datepicker-year-view .year-item {
    background-color: #3787fe!important;
}
.datepicker-plot-area .datepicker-day-view .table-days td span {
    height: 30px!important;
    line-height: 30px!important;
}
.datepicker-plot-area .datepicker-day-view .table-days td span {
    display: block;
    width: 100%;
    height: 26px;
    line-height: 26px;
    padding: 0;
    margin: 0;
}
.datepicker-plot-area .datepicker-day-view .table-days td span, .datepicker-plot-area .datepicker-month-view .month-item, .datepicker-plot-area .datepicker-year-view .year-item {
    font-size: 14px;
    background-color: #fff;
    color: #333;
    border: 0;
    text-shadow: none;
}
.datepicker-plot-area .datepicker-day-view .table-days td.disabled span, .datepicker-plot-area .datepicker-day-view .table-days td span, .datepicker-plot-area .datepicker-month-view .month-item, .datepicker-plot-area .datepicker-month-view .month-item-disable, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch, .datepicker-plot-area .datepicker-time-view .down-btn, .datepicker-plot-area .datepicker-time-view .up-btn, .datepicker-plot-area .datepicker-time-view>.time-segment, .datepicker-plot-area .datepicker-time-view input, .datepicker-plot-area .datepicker-year-view .year-item, .datepicker-plot-area .datepicker-year-view .year-item-disable, .datepicker-plot-area .toolbox .pwt-btn-calendar, .datepicker-plot-area .toolbox .pwt-btn-submit, .datepicker-plot-area .toolbox .pwt-btn-today {
    cursor: pointer;
}
.datepicker-plot-area, .datepicker-plot-area .datepicker-day-view .table-days td span, .datepicker-plot-area .datepicker-month-view .month-item, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch, .datepicker-plot-area .datepicker-time-view>.time-segment, .datepicker-plot-area .datepicker-year-view .year-item {
    border-radius: 0;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
.datepicker-plot-area *, .datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    color: #fff!important;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
/*//******************************************************************/


.datepicker-plot-area .toolbox {
    display: none;
}
.datepicker-plot-area .toolbox {
    display: block;
    float: left;
    width: 100%;
    margin-top: 5px;
}
.datepicker-plot-area .toolbox {
    display: block;
    float: left;
    width: 100%;
    margin-top: 5px;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
.datepicker-plot-area *, .datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    color: #fff!important;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}

/*//**************************************************************/
.datepicker-plot-area .toolbox .pwt-btn-submit, .datepicker-plot-area .toolbox .pwt-btn-calendar, .datepicker-plot-area .toolbox .pwt-btn-today {
    background-color: rgba(250,250,250,0.1);
    float: right;
    display: block;
    font-weight: bold;
    font-size: 11px;
    height: 24px;
    line-height: 24px;
    white-space: nowrap;
    margin: 0 auto;
    margin-left: 5px;
    padding: 0 5px;
    min-width: 50px;
}
.datepicker-plot-area .datepicker-day-view .table-days td span, .datepicker-plot-area .datepicker-year-view .year-item, .datepicker-plot-area .datepicker-month-view .month-item, .datepicker-plot-area .datepicker-day-view .table-days td.disabled span, .datepicker-plot-area .datepicker-year-view .year-item-disable, .datepicker-plot-area .datepicker-month-view .month-item-disable, .datepicker-plot-area .datepicker-time-view>.time-segment, .datepicker-plot-area .datepicker-time-view .down-btn, .datepicker-plot-area .datepicker-time-view .up-btn, .datepicker-plot-area .datepicker-time-view input, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .toolbox .pwt-btn-submit, .datepicker-plot-area .toolbox .pwt-btn-calendar, .datepicker-plot-area .toolbox .pwt-btn-today {
    cursor: pointer;
}
.datepicker-plot-area .toolbox .pwt-btn-calendar, .datepicker-plot-area .toolbox .pwt-btn-submit, .datepicker-plot-area .toolbox .pwt-btn-today {
    background-color: hsla(0,0%,98%,.1);
    float: right;
    display: block;
    font-weight: 700;
    font-size: 11px;
    height: 24px;
    line-height: 24px;
    white-space: nowrap;
    margin: 0 auto 0 5px;
    padding: 0 5px;
    min-width: 50px;
}
.datepicker-plot-area .datepicker-day-view .table-days td.disabled span, .datepicker-plot-area .datepicker-day-view .table-days td span, .datepicker-plot-area .datepicker-month-view .month-item, .datepicker-plot-area .datepicker-month-view .month-item-disable, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch, .datepicker-plot-area .datepicker-time-view .down-btn, .datepicker-plot-area .datepicker-time-view .up-btn, .datepicker-plot-area .datepicker-time-view>.time-segment, .datepicker-plot-area .datepicker-time-view input, .datepicker-plot-area .datepicker-year-view .year-item, .datepicker-plot-area .datepicker-year-view .year-item-disable, .datepicker-plot-area .toolbox .pwt-btn-calendar, .datepicker-plot-area .toolbox .pwt-btn-submit, .datepicker-plot-area .toolbox .pwt-btn-today {
    cursor: pointer;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
.datepicker-plot-area *, .datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell, .datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    color: #fff!important;
}
.datepicker-plot-area * {
    text-align: center;
    color: #333;
}
/*//**************************************************************/
