RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteRule ^search/doctor /search_doctor.php [L]
RewriteRule ^search/clinic /search_clinic.php [L]

#RewriteRule ^search/([^/]*)$ /search.php?uid=$1 [L]
RewriteRule ^documents/([^/]*)$ /documents.php?uid=$1 [L]
RewriteRule ^receiver/([^/]*)$ /receiver.php?uid=$1 [L]
RewriteRule ^payment/([^/]*)$ /payment.php?uid=$1 [L]

RewriteRule ^borker/([^/]*)$ /index.php?user=$1 [L]

RewriteRule ^detail/clinic/([^/]*)$ /detail_clinic.php?uid=$1 [L]
RewriteRule ^detail/doctor/([^/]*)$ /detail_doctor.php?uid=$1 [L]

RewriteRule ^pay/([^/]*)/([^/]*)/([^/]*)$ /pay.php?factor=$1&status=$2&price=$4 [L]
RewriteRule ^pay_wallet/([^/]*)/([^/]*)/([^/]*)$ /pay_wallet.php?factor=$1&status=$2&price=$4 [L]

RewriteRule ^body/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)/([^/]*)$ /body.php?VehicleType=$1&vehicleBrand=$2&vehicleModel=$3&InOut=$4&Price=$5&GeneratedYear=$6 [L]


RewriteRule ^video/v/([^/]*)$ /detail_video.php?id=$1 [L]
RewriteRule ^club/merchant/([^/]*)$ /detailmerchant.php?id=$1 [L]
RewriteRule ^club/category/([^/]*)$ /club_category.php?id=$1 [L]
RewriteRule ^club/category /club_detail.php [L]
RewriteRule ^blog/v/([^/]*)$ /detailarticle.php?id=$1 [L]

RewriteRule ^logout$ webservice/logout [L]
RewriteRule ^broker/([^/]*)$ /index.php?broker=$1 [L]
ErrorDocument 404 /404

ErrorDocument 503 error/503
ErrorDocument 401 error/401
ErrorDocument 500 error/500
ErrorDocument 301 error/301
ErrorDocument 403 error/403
ErrorDocument 400 error/400
ErrorDocument 408 error/408
ErrorDocument 302 error/302
ErrorDocument 405 error/405
ErrorDocument 415 error/415
ErrorDocument 404 error/404
ErrorDocument 501 error/501
ErrorDocument 502 error/502
ErrorDocument 504 error/504
ErrorDocument 505 error/505

<IfModule mod_headers.c>
Header set X-XSS-Protection "1; mode=block"
</IfModule>