.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 40px;
}

.switch input {
    display: none;
}

.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0f2d63;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.switch-slider:before {
    position: absolute;
    border-radius: 50%;
    content: "";
    height: 36px;
    width: 36px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .switch-slider {
    background-color: #04216d;
}

input:focus + .switch-slider {
    box-shadow: 0 0 1px #04216d;
}

input:checked + .switch-slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}

